
.border-gray-400{
    border-color:#cbd5e0
}
.h-64{
    height:80rem
}
.w-full{
    width:100%
}

.flex{
    display:flex
}
.items-center{
    align-items:center
}
.justify-center{
    justify-content:center
}
.w-2\/3{
    width:60%
}
.flex-1{
    flex:1 1 0%
}
.resizer {
    background-color: #cbd5e0;
    cursor: ew-resize;
    height: 100%;
    width: 2px;
}